In [6]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.chrome.service import Service

In [7]:
import os
import wget

In [8]:
s=Service("D:\chromedrive\chromedriver.exe")
driver=webdriver.Chrome(service=s)

In [9]:

driver.get("https://business.mapsofindia.com/india-company/")

In [21]:
companies=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody')

In [22]:
for c in companies:
    print(c.text)

58 Indian companies in Forbes Global 2000 list 2017
Global Rank Indian Companies Sales Profits Assets Market Value
#106 Reliance Industries $41.8 B $4.3 B $97.9 B $71.2 B
#244 State Bank of India $43.7 B $667 M $493.3 B $36.5 B
#246 Oil & Natural Gas $19.9 B $2.2 B $57.7 B $37.2 B
#258 HDFC Bank $11.4 B $2 B $110.3 B $57.4 B
#264 Indian Oil $54.1 B $1.7 B $37.3 B $30 B
#290 Tata Motors $41.2 B $1.7 B $39.5 B $24.9 B
#310 ICICI Bank $11.9 B $1.6 B $138.9 B $25.1 B
#373 HDFC $8.1 B $1.6 B $64.9 B $36.7 B
#376 Tata Consultancy Services $17.4 B $3.9 B $14.5 B $74.5 B
#408 NTPC $12.2 B $1.6 B $38.7 B $21.5 B
#463 Axis Bank $7.8 B $1.3 B $80.4 B $18.8 B
#483 Larsen & Toubro $15.7 B $814 M $29.8 B $24.5 B
#513 Bharti Airtel $14.7 B $702 M $34.8 B $21.4 B
#541 Coal India $11 B $1.6 B $17.8 B $27.4 B
#583 Bharat Petroleum $28.8 B $1.2 B $14.4 B $15.2 B
#598 Infosys $10.1 B $2.1 B $11.9 B $34.9 B
#744 Kotak Mahindra Bank $4.8 B $683 M $37.4 B $25.1 B
#765 Wipro $8.1 B $1.3 B $11.8 B $19.4 B
#797 ITC $6 B $1.5 B $7.8 B $51.6 B
#807 Hindustan Petroleum $28.5 B $752 M $13.7 B $8.5 B
#884 Power Grid of India $3.2 B $919 M $27.8 B $15.9 B
#916 Mahindra & Mahindra $10.7 B $491 M $16.4 B $11.8 B
#958 HCL Technologies $6.3 B $1.1 B $6.4 B $18.7 B
#1023 Sun Pharma Industries $4.6 B $1.1 B $9.1 B $24.9 B
#1076 Tata Steel $16.1 B $-444 M $25.7 B $7.5 B
#1086 Power Finance $4.3 B $945 M $37.3 B $6.3 B
#1145 Bank of Baroda $7.9 B $-774 M $104.4 B $6.1 B
#1148 Punjab National Bank $8.8 B $-564 M $107.7 B $4.9 B
#1175 Hindalco Industries $15.2 B $31 M $22 B $6.8 B
#1230 Canara Bank $7.5 B $-398 M $85.1 B $2.8 B
#1234 Rural Electrification $3.7 B $869 M $32.2 B $5.7 B
#1239 Yes Bank $2.5 B $386 M $25 B $11 B
#1250 Bank of India $7 B $-948 M $93.1 B $2.3 B
#1272 IndusInd Bank $2.3 B $349 M $21.2 B $13.1 B
#1283 GAIL India $8.3 B $344 M $11 B $10.2 B
#1347 JSW Steel $7.3 B $407 M $12.8 B $7.5 B
#1420 Union Bank of India $5.5 B $207 M $61.8 B $1.6 B
#1435 Bajaj Auto $3.5 B $578 M $3.1 B $12.8 B
#1513 Adani Ports & Special Economic Zone $1.2 B $549 M $6 B $11.2 B
#1524 IDBI Bank $4.8 B $-548 M $56.6 B $2.4 B
#1556 Rajesh Exports $36.3 B $173 M $3.5 B $2.8 B
#1587 Hero Motocorp $4.3 B $473 M $1.9 B $10 B
#1622 Grasim Industries $5.3 B $461 M $9.1 B $7.7 B
#1664 Central Bank of India $4.3 B $-167 M $46.4 B $3 B
#1716 Lupin $2.5 B $444 M $3.6 B $9.9 B
#1745 Syndicate Bank $3.9 B $-232 M $46.7 B $985 M
#1783 Asian Paints $2.3 B $281 M $1.7 B $16.1 B
#1828 Indian Overseas Bank $3.5 B $-552 M $37.8 B $1 B
#1845 Allahabad Bank $3.2 B $-110 M $35.7 B $838 M
#1849 UCO Bank $2.9 B $-443 M $35.7 B $905 M
#1854 Corporation Bank $3.2 B $-77 M $35.5 B $980 M
#1859 Oriental Bank of Commerce $3.2 B $22 M $34.9 B $769 M
#1930 Steel Authority of India $5.9 B $-656 M $16.2 B $4.3 B
#1934 Indiabulls Housing Finance $1.7 B $408 M $13.7 B $6.3 B
#1937 Indian Bank $2.8 B $115 M $30.8 B $2 B
#1940 Andhra Bank $3 B $85 M $30.7 B $616 M
#1952 Motherson Sumi Systems $6.1 B $222 M $3.9 B $8.3 B
#1998 Tech Mahindra $4.2 B $469 M $3.6 B $6.7 B

In [25]:
companies=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[2]/tbody')

In [26]:
for c in companies:
    print(c.text)

3M India 222 12 19
Adani Ports and Special Economic Zone 84 20 84
Ajanta Pharma 354 18 40
Alembic Pharmaceuticals 128 19 39
Amara Raja Batteries 134 20 24
Ashok Leyland 281 28 15
Asian Paints 105 10 30
Aurobindo Pharma 156 23 32
Bajaj Finance 561 35 21
Berger Paints India 209 9 25
Bharat Financial Inclusion 274 44 22
Britannia Industries 311 10 51
Cadila Healthcare 122 10 31
Cholamandalam Investment and Finance Company 248 13 17
Crisil 63 12 35
Dewan Housing Finance Corporation 262 25 24
Edelweiss Financial Services 486 38 13
Eicher Motors 327 5 34
Emami 152 12 30
Havells India 165 12 22
HDFC Bank 100 20 19
Hindustan Zinc 197 11 22
IndusInd Bank 190 20 16
IIFL Holdings 442 20 18
Indiabulls Housing Finance 404 24 28
Kansai Nerolac Paints 232 13 27
LIC Housing Finance 171 15 19
Marico 193 8 37
Maruti Suzuki India 217 20 19
Motherson Sumi Systems 124 12 27
Motilal Oswal Financial Services 699 55 15
MRF 183 7 35
Natco Pharma 529 41 22
Page Industries 135 22 51
Pidilite Industries 132 12 29
PI Industries 220 14 31
Piramal Enterprises 296 24 14
Procter & Gamble Hygiene and Health Care 142 8 30
Rajesh Exports 512 102 24
Shree Cement 204 17 17
Symphony 346 12 43
Torrent Pharmaceuticals 206 12 39
Tube Investments of India 259 12 17
TVS Motor Company 360 17 26
UPL 289 16 21
Vakrangee 246 27 30
Wabco India 190 27 18
Whirlpool of India 439 15 24
Yes Bank 290 18 20
Zee Entertainment Enterprises 99 13 25

In [29]:
companies=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr[3]/td[1]')

In [51]:
for c in companies:
    print(c.text[1:])

106

In [38]:
Global_Rank=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[1]')
Indian_Companies=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[2]')
Sales=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[3]')
Profits=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[4]')
Assests=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[5]')
Marketvalue=driver.find_elements(by=By.XPATH, value='//*[@id="content_section"]/div[1]/table[1]/tbody/tr/td[4]')

In [52]:
IndianCompanies=[]
for i in range(1,len(Global_Rank)):
    td={
        'Comapany':Indian_Companies[i].text,
        'rank':Global_Rank[i].text[1:],
        'Sales':Sales[i].text,
        'Profit':Profits[i].text,
        'Assest':Assests[i].text,
        'MarketValue':Marketvalue[i].text
    }
    IndianCompanies.append(td)

In [54]:
import pandas as pd

In [55]:
df=pd.DataFrame(IndianCompanies)

In [56]:
df

,Comapany,rank,Sales,Profit,Assest,MarketValue
0,Reliance Industries,106,$41.8 B,$4.3 B,$97.9 B,$4.3 B
1,State Bank of India,244,$43.7 B,$667 M,$493.3 B,$667 M
2,Oil & Natural Gas,246,$19.9 B,$2.2 B,$57.7 B,$2.2 B
3,HDFC Bank,258,$11.4 B,$2 B,$110.3 B,$2 B
4,Indian Oil,264,$54.1 B,$1.7 B,$37.3 B,$1.7 B
5,Tata Motors,290,$41.2 B,$1.7 B,$39.5 B,$1.7 B
6,ICICI Bank,310,$11.9 B,$1.6 B,$138.9 B,$1.6 B
7,HDFC,373,$8.1 B,$1.6 B,$64.9 B,$1.6 B
8,Tata Consultancy Services,376,$17.4 B,$3.9 B,$14.5 B,$3.9 B
9,NTPC,408,$12.2 B,$1.6 B,$38.7 B,$1.6 B
10,Axis Bank,463,$7.8 B,$1.3 B,$80.4 B,$1.3 B
11,Larsen & Toubro,483,$15.7 B,$814 M,$29.8 B,$814 M
12,Bharti Airtel,513,$14.7 B,$702 M,$34.8 B,$702 M
13,Coal India,541,$11 B,$1.6 B,$17.8 B,$1.6 B
14,Bharat Petroleum,583,$28.8 B,$1.2 B,$14.4 B,$1.2 B
15,Infosys,598,$10.1 B,$2.1 B,$11.9 B,$2.1 B
16,Kotak Mahindra Bank,744,$4.8 B,$683 M,$37.4 B,$683 M
17,Wipro,765,$8.1 B,$1.3 B,$11.8 B,$1.3 B
18,ITC,797,$6 B,$1.5 B,$7.8 B,$1.5 B
19,Hindustan Petroleum,807,$28.5 B,$752 M,$13.7 B,$752 M
20,Power Grid of India,884,$3.2 B,$919 M,$27.8 B,$919 M
21,Mahindra & Mahindra,916,$10.7 B,$491 M,$16.4 B,$491 M
22,HCL Technologies,958,$6.3 B,$1.1 B,$6.4 B,$1.1 B
23,Sun Pharma Industries,1023,$4.6 B,$1.1 B,$9.1 B,$1.1 B
24,Tata Steel,1076,$16.1 B,$-444 M,$25.7 B,$-444 M
25,Power Finance,1086,$4.3 B,$945 M,$37.3 B,$945 M
26,Bank of Baroda,1145,$7.9 B,$-774 M,$104.4 B,$-774 M
27,Punjab National Bank,1148,$8.8 B,$-564 M,$107.7 B,$-564 M
28,Hindalco Industries,1175,$15.2 B,$31 M,$22 B,$31 M
29,Canara Bank,1230,$7.5 B,$-398 M,$85.1 B,$-398 M
30,Rural Electrification,1234,$3.7 B,$869 M,$32.2 B,$869 M
31,Yes Bank,1239,$2.5 B,$386 M,$25 B,$386 M
32,Bank of India,1250,$7 B,$-948 M,$93.1 B,$-948 M
33,IndusInd Bank,1272,$2.3 B,$349 M,$21.2 B,$349 M
34,GAIL India,1283,$8.3 B,$344 M,$11 B,$344 M
35,JSW Steel,1347,$7.3 B,$407 M,$12.8 B,$407 M
36,Union Bank of India,1420,$5.5 B,$207 M,$61.8 B,$207 M
37,Bajaj Auto,1435,$3.5 B,$578 M,$3.1 B,$578 M
38,Adani Ports & Special Economic Zone,1513,$1.2 B,$549 M,$6 B,$549 M
39,IDBI Bank,1524,$4.8 B,$-548 M,$56.6 B,$-548 M
40,Rajesh Exports,1556,$36.3 B,$173 M,$3.5 B,$173 M
41,Hero Motocorp,1587,$4.3 B,$473 M,$1.9 B,$473 M
42,Grasim Industries,1622,$5.3 B,$461 M,$9.1 B,$461 M
43,Central Bank of India,1664,$4.3 B,$-167 M,$46.4 B,$-167 M
44,Lupin,1716,$2.5 B,$444 M,$3.6 B,$444 M
45,Syndicate Bank,1745,$3.9 B,$-232 M,$46.7 B,$-232 M
46,Asian Paints,1783,$2.3 B,$281 M,$1.7 B,$281 M
47,Indian Overseas Bank,1828,$3.5 B,$-552 M,$37.8 B,$-552 M
48,Allahabad Bank,1845,$3.2 B,$-110 M,$35.7 B,$-110 M
49,UCO Bank,1849,$2.9 B,$-443 M,$35.7 B,$-443 M
50,Corporation Bank,1854,$3.2 B,$-77 M,$35.5 B,$-77 M
51,Oriental Bank of Commerce,1859,$3.2 B,$22 M,$34.9 B,$22 M
52,Steel Authority of India,1930,$5.9 B,$-656 M,$16.2 B,$-656 M
53,Indiabulls Housing Finance,1934,$1.7 B,$408 M,$13.7 B,$408 M
54,Indian Bank,1937,$2.8 B,$115 M,$30.8 B,$115 M
55,Andhra Bank,1940,$3 B,$85 M,$30.7 B,$85 M
56,Motherson Sumi Systems,1952,$6.1 B,$222 M,$3.9 B,$222 M
57,Tech Mahindra,1998,$4.2 B,$469 M,$3.6 B,$469 M

In [70]:
exel=pd.ExcelWriter("companiesdata.xlsx")

In [71]:
df.to_excel(exel)

In [72]:
exel.save()